POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=
ODOO_ADMIN_PASSWORD=
ODOO_DB_HOST=
ODOO_DB_PORT=
ODOO_DB_USER=
ODOO_DB_PASSWORD=

JUDICIAL_POLYGON_RPC_URL=
JUDICIAL_CHAIN_ID=
JUDICIAL_PRIVATE_KEY=
JUDICIAL_CONTRACT_ADDRESS=
JUDICIAL_CONTRACT_ABI=